# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/1465798126.272434.problem.db
/1465789190.517217.problem.db
/需求
