<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Problems</title>
    <link href="//cdn.bootcss.com/bootstrap/4.0.0-alpha.2/css/bootstrap.css" rel="stylesheet">
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.test').on('click', function() {
                var checkedStatus = $('input[name="status"]').is(':checked');
                alert(checkedStatus);

                var checkedID = $('input:checked').val();
                alert(checkedID);

                var checkedProblem = {
                    id: checkedID,
                    status: checkedStatus
                };

                var problem = $.post('/problem/update', checkedProblem);

            });
        });
    </script>
</head>
<body>
    <table>
        <caption>问题列表</caption>
        <thead>
            <tr>
                <th>问题</th>
                <th>创建时间</th>
                <th>解决状态</th>
            </tr>
        </thead>
        <tbody>
            {%  for p in problems %}
                <tr>
                    <td>{{ p.link }}</td>
                    <td>{{ p.time }}</td>
                    <td>
                        <label><input type="checkbox" value="{{ p.id }}" name="status">{{ p.status }}</label>
                        <button class="test" value="提交"></button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>